


:root {
    --primary: #3feee6;
    --secondary: #fc4445;
    --light-accent: #cafafe;
    --darker-accent: #97caef;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;  
    background-color: var(--light-accent);  
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(auto-fit);
    grid-gap: 20px;
}

ul > div {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-radius: 12px;
    border: dashed 0.2px purple;
    padding: 30px;
    margin: 20px;
    background-color: var(--darker-accent)
}

h1 {
    grid-column: 2 / 3;
    color: var(--secondary);
    text-align: center;
}

ul {
    grid-column: 2 / 3;
}

li {
    list-style-type: none;
}

img {
    border-radius: 50%;
    border: solid 2px var(--secondary);
}

span {
    display: block;
    text-align: left;
    margin-left: 20px;
    color: var(--secondary)
}
